/* ===custom css reset === */
:root {
  --font-family: 'Poppins', sans-serif;
  --font-size: 16px;
  --border-radius: 5px;
  --bold-400: 400;
  --bold-500: 500;
  --bold-600: 600;
  --bold-700: 700;
  --red-color: hsl(0, 100%, 74%);
  --green-color: hsl(154, 59%, 51%);
  --blue-color: hsl(248, 32%, 49%);
  --dark-blue-color: hsl(249, 10%, 26%);
  --light-black: hsla(0, 0%, 0%, 0.5);
  --grayish-blue-color: hsl(246, 25%, 77%);
  --white-color: hsl(0, 0%, 100%);
  --primary-color: var(--red-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-family, sans-serif);
  line-height: 1.5;
  min-height: 100vh;
  background-color: black;
  /* display: grid; */
  /* place-content: center; */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* common classes */
.grayish-blue-color {
  color: var(--grayish-blue-color, grey);
}
.red-color {
  color: var(--red-color, red);
}
.bold-600 {
  font-weight: var(--bold-600);
}
.uppercase {
  text-transform: uppercase;
}

/* classes */
.app {
  background-color: var(--red-color);
  background-image: url(./images/bg-intro-desktop.png);
  padding: 3rem 1.5rem;
  margin: auto 1.5rem;
  /* display: grid; */
  /* grid-template-columns: 40% 40%; */
  /* place-content: center; */
  /* gap: 1rem; */
  /* margin: auto; */
  /* flex-wrap: wrap; */
  outline: solid green;
}
/* Column1 - div - info container */
.info-container {
  color: var(--white-color, white);
}
/* h1 - font-weight: 700; font-size: 28px; */
.info-container .heading {
  text-align: center;
  text-wrap: balance;
  margin-bottom: 2rem;
}

.info-container .text {
  text-align: center;
  margin-bottom: 4rem;
}

/* Column2 - div - boxes container */
.boxes-container {
}
.boxes-container .try-it {
  font-size: 0.83rem;
  color: white;
  text-align: center;
  padding: 1rem 3rem;
  margin: auto;
  background-color: var(--blue-color);
  border-radius: 0.5rem;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem; /* delete it! */
}

/* form sign */
.form-sign {
  background-color: var(--white-color, white);
  padding: 1.2rem;
  margin: auto;
  border-radius: 0.5rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; */
}
.form-sign label,
.form-sign small {
  display: block;
}
.form-sign label {
  margin: 1rem auto;
}
.form-sign input {
  padding: 1rem;
  width: 100%;
}
.form-sign .submit-btn {
  background-color: var(--green-color, green);
  color: var(--white-color, white);
  font-weight: var(--bold-600);
  border: solid 3px var(--green-color);
  text-align: center;
  border-radius: 0.5rem;
  letter-spacing: 1px;
}
.form-sign small {
  display: block;
  font-size: 11px;
  text-align: center;
  padding: 1rem 0px;
}
