/* ===custom css reset === */
:root {
  --font-family: 'Poppins', sans-serif;
  --font-size: 16px;
  --border-radius: 5px;
  --bold-400: 400;
  --bold-500: 500;
  --bold-600: 600;
  --bold-700: 700;
  --red-color: hsl(0, 100%, 74%);
  --green-color: hsl(154, 59%, 51%);
  --blue-color: hsl(248, 32%, 49%);
  --dark-blue-color: hsl(249, 10%, 26%);
  --light-black: hsla(0, 0%, 0%, 0.5);
  --grayish-blue-color: hsl(246, 25%, 77%);
  --white-color: hsl(0, 0%, 100%);
  --primary-color: var(--red-color);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* common classes */
.grayish-blue-color {
  color: var(--grayish-blue-color, grey);
}
.red-color {
  color: var(--red-color, red);
}
.bold-600 {
  font-weight: var(--bold-600);
}
.uppercase {
  text-transform: uppercase;
}
/* input error when input is empty */
.input-error {
  border: solid red;
}
.display-none {
  display: none;
}

/* tags */
body {
  font-family: var(--font-family, sans-serif);
  line-height: 1.5;
  min-height: 100vh;
  /* padding: 1rem; */
  background-color: black;
  display: grid;
  place-content: center;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* classes */
.app {
  background-color: var(--red-color);
  padding: 2rem 1rem;
  margin: auto;
  max-width: 90%;
}
/* Column1 - div - info container */
.info-container {
  width: 100%;
  color: var(--white-color, white);
  max-width: 50ch;
}
/* h1 - font-weight: 700; font-size: 28px; */
.info-container .heading {
  text-wrap: balance;
  margin-bottom: 2rem;
}

/* Column2 - div - boxes container */
.boxes-container {
  width: 100%;
}
.boxes-container .try-it {
  font-size: 0.83rem;
  color: white;
  text-align: center;
  padding: 1rem 2rem;
  margin: auto;
  margin-bottom: 1rem;
  background-color: var(--blue-color);
  border-radius: 0.5rem;
  box-shadow: 0px 8px rgba(0, 0, 0, 0.2);
}

/* form sign */
.form-sign {
  background-color: var(--white-color, white);
  padding: 1.2rem;
  margin: auto;
  border-radius: 0.5rem;
}
.form-sign label,
.form-sign small {
  display: block;
}
.form-sign label {
  position: relative;
  margin-bottom: 2rem;
}
.form-sign label.input-error::after {
  content: attr(data-input-error);
  position: absolute;
  right: 0;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  font-size: 0.8rem;
  color: red;
  display: block;
  text-align: right;
  /* margin-bottom: -20px; */
}

.form-sign input {
  width: 100%;
  padding: 1rem;
  color: inherit;
}
.form-sign input.icon-error {
  background-color: hsl(0 76.75% 80.95%);
  background: url(./images/icon-error.svg) no-repeat;
  background-position-x: 95%;
  background-position-y: center;
  color: var(--red-color);
}
.form-sign .submit-btn {
  background-color: var(--green-color, green);
  color: var(--white-color, white);
  font-weight: var(--bold-600);
  letter-spacing: 1px;
  text-align: center;
  border: solid 3px var(--green-color);
  border-radius: 0.5rem;
  cursor: pointer;
}
.form-sign .submit-btn:hover {
  opacity: 0.8;
}
.form-sign .submit-btn:active {
  opacity: 1;
}
.form-sign small {
  font-size: 10px;
  text-align: center;
}
/* === mobile mode === */
@media (width < 660px) {
  .app {
    background-image: url(./images/bg-intro-mobile.png);
  }
  .info-container {
    text-align: center;
    margin-bottom: 4rem;
  }
}
/* === desktop mode === */
@media (width >= 660px) {
  .app {
    background-image: url(./images/bg-intro-desktop.png);
    /* max-width: 80%; */
    display: grid;
    grid-template-columns: 40% 45%;
    place-items: center;
    place-content: center;
    gap: 2rem;
  }
  .info-container .heading {
    font-size: 2rem;
  }
}
